body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif");
    color: white;
    text-align: center;
}

header {
    background: white;
    width: 100%;
}
.register-form,
.login-form {
    margin-top: 100px;
    width: 300px;
}
.main-div {
    margin-top: 25%;
}
h1 {
    font-size: 60px;
}
